{{ define "pageForIntervalGraph"}}

{{ template "header" }}

{{ template "dropdownButtonInterval" }}

{{ template "quantityForm"}}

{{ template "clearForm"}}

<p id="textInterval" class="textInfo">
    {{if .Quantity}}
    Изображен граф с интервальными весами, количество вершин = {{.Quantity}}
    {{else}}
    Для начала работы сгенерируйте граф или выберите файл, из которого нужно его загрузить.
    {{end}}
</p>

{{ template "containerForIntervalGraphs" }}

{{ template "formForIntervalGraphInfo"}}

{{ template "uploadExactFileForm"}}
</body>
</html>
{{ end }}

