{{ define "pageForExactGraph"}}

{{ template "header" }}

{{ template "dropdownButtonExact" }}

{{ template "quantityForm"}}

{{ template "clearForm"}}

<p id="textExact" class="textInfo">
  {{if .Quantity}}
  Изображен граф с точными весами, количество вершин = {{.Quantity}}
  {{else}}
  Для начала работы сгенерируйте граф или выберите файл, из которого нужно его загрузить.
  {{end}}
</p>

{{ template "canvasForGraph" }}

{{ template "uploadExactFileForm" }}

{{ template "checkoutIntervalForm"}}
{{ end }}