{{ define "uploadFileForm"}}
<form enctype="multipart/form-data" method="post">
  <p>Загрузите ваши фотографии на сервер</p>
  <p><input type="file" name="photo" multiple accept="image/*,image/jpeg">
    <input type="submit" value="Отправить"></p>
</form>

<form enctype="multipart/form-data" method="post">
  {{ if strings.HasPrefix . "/exact" }}
  <p>Выберите .txt файл, формат записи:
    1 строка) количество вершин,
    2 и последующие строки) номер вершины 1, номер вершины 2, точный вес ребра
    Если вы используете вес double, то запись должна быть через точку
    Например, граф с тремя вершинами и двумя ребрами может выглядеть так:
    3
    1 2 10
    2 3 16.5</p>
  {{ else }}
  <p>Выберите .txt файл, формат записи:
    1 строка) количество вершин,
    2 и последующие строки) номер вершины 1, номер вершины 2, мин. вес ребра, макс. вес ребра (через пробел)
    Если вы используете вес double, то запись должна быть через точку
    Например, граф с тремя вершинами и двумя ребрами может выглядеть так:
    3
    1 2 10 20
    2 3 16.5 18</p>
  {{ end }}
  <input type="file" id="fileupload" name="fileupload">
  <input type="submit" value="Upload">
</form>
{{end}}