
body{
    background-color: #FBF8EF;
    margin: 0;
}

.active {
    background-color: #FAAC58;
}

.canvas {
    margin-left: 220px;
    width: 1200px;
    height: 400px;
}

.textInfo {
    margin-left: 400px;
    margin-top: 20px;
}


