
body{
    background-color: #FBF8EF;
    margin: 0;
}

.active {
    background-color: #FAAC58;
}

.canvas {
    margin-left: 260px;
    margin-top: 5px;
    width: 1250px;
    height: 680px;
    border: 1px solid gray;
}

.textInfo {
    font-size: 18px;
    position: page;
    margin-left: 300px;
    margin-top: -40px;
}


